@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2262 0.027 161.4587);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2262 0.027 161.4587);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.5916 0.218 0.5844);
  --primary: oklch(0.5916 0.218 0.5844);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.7361 0.1611 162.1312);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.963 0.01 164.8695);
  --muted-foreground: oklch(0.4937 0.029 167.2317);
  --accent: oklch(0.5916 0.218 0.5844);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.505 0.1789 17.8446);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8251 0.0241 165.7193);
  --input: oklch(0.5916 0.218 0.5844);
  --ring: oklch(0 0 0);
  --chart-1: oklch(0.5916 0.218 0.5844);
  --chart-2: oklch(0.7361 0.1611 162.1312);
  --chart-3: oklch(0.8124 0.1704 76.3908);
  --chart-4: oklch(0.7377 0.1421 248.5514);
  --chart-5: oklch(0.5015 0.1883 294.9882);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2262 0.027 161.4587);
  --sidebar-primary: oklch(0.5916 0.218 0.5844);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.5916 0.218 0.5844);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.8251 0.0241 165.7193);
  --sidebar-ring: oklch(0 0 0);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: 'GalaxieCopernicus', 'PT Serif', serif;
  --font-mono: Fira Code, ui-monospace, monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #000000;
  --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
  --shadow-sm: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0);
  --tracking-normal: -0.025em;
  --spacing: 0.28rem;
}

.dark {
  --background: oklch(0.1732 0.0129 177.5282);
  --foreground: oklch(0.9462 0.0125 164.7927);
  --card: oklch(0.1732 0.0129 177.5282);
  --card-foreground: oklch(0.9462 0.0125 164.7927);
  --popover: oklch(0.2395 0.0178 177.532);
  --popover-foreground: oklch(0.9462 0.0125 164.7927);
  --primary: oklch(0.7361 0.1611 162.1312);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.5916 0.218 0.5844);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.2395 0.0178 177.532);
  --muted-foreground: oklch(0.7931 0.0252 166.9054);
  --accent: oklch(0.7361 0.1611 162.1312);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.7091 0.1864 14.148);
  --destructive-foreground: oklch(0.1732 0.0129 177.5282);
  --border: oklch(0.3653 0.0252 172.3865);
  --input: oklch(0.2072 0.0151 181.0209);
  --ring: oklch(0.7361 0.1611 162.1312);
  --chart-1: oklch(0.7361 0.1611 162.1312);
  --chart-2: oklch(0.6485 0.1881 356.1752);
  --chart-3: oklch(0.8493 0.1613 83.9263);
  --chart-4: oklch(0.7377 0.1421 248.5514);
  --chart-5: oklch(0.7765 0.1376 302.2018);
  --sidebar: oklch(0.2072 0.0151 181.0209);
  --sidebar-foreground: oklch(0.9462 0.0125 164.7927);
  --sidebar-primary: oklch(0.7361 0.1611 162.1312);
  --sidebar-primary-foreground: oklch(0.1732 0.0129 177.5282);
  --sidebar-accent: oklch(0.3647 0.071 167.9276);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.3653 0.0252 172.3865);
  --sidebar-ring: oklch(0.7361 0.1611 162.1312);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: 'GalaxieCopernicus', 'PT Serif', serif;
  --font-mono: Fira Code, ui-monospace, monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #000000;
  --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
  --shadow-sm: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
